/*Assign 1*/
.school {
  padding: 20px;
  direction: rtl;
  margin-left: 20px;
}
.school .school-box {
  padding: 10px;
}
.school:hover .school-box {
  background-color: #eee;
}

/*Assign 2*/
/* Theme Version: 1.0 */
/* Website Theme Main Color Is: red */
/* Website Theme Alternate Color Is: blue */
/*Assign 3*/
.class {
  color: red;
}

/*Assign 4*/
.class {
  color: red;
}

/*Assign 5*/
.box {
  /*Nothing*/
}