/*Assign 1*/
@mixin arrow($dir){
    content: "";
    position: absolute;
    border: 20px solid transparent;
    @if ($dir == "top" or $dir == "bottom"){
        left: 50%;
        transform: translateX(-50%);
        #{$dir}:-40px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }@else{
        top: 50%;
        transform: translateY(-50%);
        #{$dir}:-40px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }
    @if $dir =='top'{
        border-bottom-color: red;
    }@else if $dir =='right'{
        border-left-color: red;
    }@else if $dir =='bottom'{
        border-top-color: red;
    }@else if $dir =='left'{
        border-right-color: red;
    }
}

.element {
    &:before {
        @include arrow("top");
    }
}

.element {
    &:before {
        @include arrow("right");
    }
}

.element {
    &:before {
        @include arrow("bottom");
    }
}

.element {
    &:before {
        @include arrow("left");
    }
}

/*Assign 2*/

$grid_cols:16;

@for $i from 1 through $grid_cols{
    .col-#{$i}{
        width: percentage($i / $grid_cols);
    }
} 

/*Assign 3*/
$names:
"books" 20px red 18,
"games" 30px green 18,
"dvds" 20px blue;

@each $name, $padding, $color, $fontSize in $names{
    .#{$name}{
        padding: $padding;
        font-size: if($fontSize, $fontSize,16px);
        border-bottom: 2px solid $color;
        color: #444;
    }
}

/*Assign 4*/

$init: 1;

@while $init <= 5{
    .circle-#{$init* 100}{
        width: $init * 100px;
        height: $init * 100px;
        border-radius: ($init * 100px) / 2;
        -webkit-border-radius: ($init * 100px) / 2;
        -moz-border-radius: ($init * 100px) / 2;
        -ms-border-radius: ($init * 100px) / 2;
        -o-border-radius: ($init * 100px) / 2;
}
    $init: $init + 1;
}

/*Assign 5*/

$init: 1;

@for $i from $init through 5{
    .circle-#{$init* 100}{
        width: $init * 100px;
        height: $init * 100px;
        border-radius: ($init * 100px) / 2;
        -webkit-border-radius: ($init * 100px) / 2;
        -moz-border-radius: ($init * 100px) / 2;
        -ms-border-radius: ($init * 100px) / 2;
        -o-border-radius: ($init * 100px) / 2;
    }
    $init: $init + 1;
}

/*Assign 6*/

// Write Mixin Code Here
@mixin placeholder {
    &.placeholder {
        color: #777;
    }
    &:-moz-placeholder {
        color: #777;
    }
    &::-moz-placeholder {
        color: #777;
    }
    &:-ms-input-placeholder {
        color: #777;
    }
    &::-webkit-input-placeholder {
        color: #777;
    }
}
// Using
textarea {
    @include placeholder
}

/*Assign 7*/
// Write Mixin Code Here
@mixin flex-center($wid:400px){
    display: flex;
    justify-content: center;
    align-items: center;
    width: $wid;
}
// Using
.box-one {
    @include flex-center(400px);
  }
  .box-two {
    @include flex-center;
  }
  